body {
border:5px solid red;
}
.header {
 background-color:black;  
border:3px solid red;
width:1410px;
height:100px;
}
#title {
   
}  
#nav {
font-family: Arial;
position:relative;
left: 1210px;
bottom:80px;
}
#name {
position: relative;
top:40px;   
background-color: black;  
color:red;
text-decoration:underline;
}
#profile-picture {
display:;
max-width: 100px;
height: auto;
position:relative;
left:240px;
bottom:60px;
}
.main {


}
#aboutmeheader {

}