.flex-container {
display:flex;
flex-direction:column; 
position:relative;
}

h3 {
    text-align: center;
}
p {
    text-align: center;
}

body {   

}

#header {

}
h4 {
    text-align: center;
}

p {
margin-left: 5%;    
margin-right: 5%
/* margin-right: 10%; */
}

h1 {
margin-left: 10px;    
text-align: center;
}
#navbar {
 position: relative;
 left:2px;
}
#profilePicture {
    width:15%;          
    height:auto;  
    margin: auto;
    display:block;
    border-radius:50%;
}

#profilepicBackground {
    /* background-color: black;
    height: 1000px;
    position:relative;
    bottom:70px;
    z-index: -3; */
}

#headerBackgroundImage {
width: 1550px;
height:175px;
position: relative;
bottom:200px;
z-index:-2;
}

#name {
position: relative;
top:40px; 
right:6px;  
background-color: black;  
color:red;
text-decoration:underline;
}

#spotiweather{   
width:65%;          
height:auto;  
margin: auto;
display:block;
}
#movie_db{
width:75%;
height:auto;  
margin: auto;
display:block;
}

#weather-dashboard{
width:55%;          
height:auto;  
margin: auto;
display:block; 
}

#workDayimg {
    width:55%;          
    height:auto;  
    margin: auto;
    display:block; 
}
#work{
    text-align: center;
}

.firstProject{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

#firstWorktxt {
    text-align: center;
}

#aboutmeheader {
text-align: center;
}

#pAboutMe {
    text-align: center;
}

#phoneNumber {
    text-align: center;
}

#emailAddress {
    text-align: center;
}

@media screen and (max-width: 768px) {
    main,
    header {
      flex-direction: column;
    }
  }